*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    div{
        background-color: pink;
    }
}

img {
  width: 100%;
}

b, strong {
  -webkit-font-smoothing: antialiased;
}

.clearfix {
  clear: both;
}
@media screen and (max-width: 768px) {
    //Do something
}
