*, *:after, *:before {
  box-sizing: border-box; }

body div {
  background-color: maroon; }

img {
  width: 100%; }

b, strong {
  -webkit-font-smoothing: antialiased; }

.clearfix {
  clear: both; }
