*, *:after, *:before {
  box-sizing: border-box; }

img {
  width: 100%; }

b, strong {
  -webkit-font-smoothing: antialiased; }

.clearfix {
  clear: both; }

body {
  background-color: #f6f6f6;
  font-size: 1.5rem;
  font-family: 'Chelsea Market', arial, serif;
  margin: 0;
  overflow-x: hidden;
  position: relative; }

.clearfix {
  clear: both; }

button {
  color: #f6f6f6;
  font-size: 1.5rem;
  background-color: #00ADA3;
  padding: 15px 15px;
  margin-top: 20px !important;
  border: none;
  cursor: pointer; }
  button:hover {
    background-color: #FF6694; }

.btn__pink {
  background-color: #FF6694; }

.warning-msg {
  display: none;
  font-size: 1rem;
  color: red; }

button:focus {
  outline: 0; }

input:focus {
  outline: 0; }

input {
  width: 95%;
  padding: 5px 5px;
  font-size: 1.5rem;
  color: #FF6694; }

.highlight {
  background-color: yellow; }

#modal-close {
  display: none; }

.modal_body {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 1.5rem;
  text-align: center;
  height: 100%; }

.modal__content {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  color: #00ADA3; }

.modal__instruction {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 4rem; }
  .modal__instruction-margin-b {
    margin-bottom: 15px; }

.modal__username {
  font-weight: bolder;
  font-size: 4rem; }

.modal__user-image {
  width: 250px;
  margin: auto; }

.modal__start-btn {
  width: 100%; }

.modal__close-btn {
  position: absolute;
  font-size: 3rem;
  font-weight: bolder;
  right: -55px;
  top: -55px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 3;
  cursor: pointer;
  color: #00ADA3; }
  .modal__close-btn:hover {
    color: #FF6694; }

.modal-open {
  overflow: hidden; }

.hero {
  width: 60%;
  margin: auto;
  position: relative; }
  .hero__body {
    min-height: 200px; }
  .hero__username {
    font-size: 4rem;
    color: #FF6694;
    margin-bottom: 0; }
  .hero__instruction {
    color: #00ADA3;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 4rem; }
  .hero__change-btn {
    width: 100%;
    margin-top: 20px; }
  .hero__input-container {
    width: 50%;
    float: left;
    margin-top: 45px; }
    .hero__input-container-title {
      margin: 0; }
  .hero__error-choose-word, .hero__error-not-found {
    display: none; }
  .hero .main-div {
    display: none; }
  .hero .active {
    display: block; }
