.hero {
    width: 60%;
    margin: auto;
    position: relative;
    padding: 30px 0 60px;
    @media only screen and (max-width: 480px) {
        width: 90%;
    }
    
    &__body {
        min-height: 200px;
        @media only screen and (max-width: 480px) {
            min-height: auto;
            padding-bottom: 25px;
        }
    }
    
    &__user-avator {
        width: 60px;
    }
    
    &__username {
        font-size: 4rem;
        color: #FF6694;
        margin-bottom: 0;
        margin-top: 1rem;
        @media only screen and (max-width: 480px) {
            font-size: 2rem;
        }
    }
    
    &__instruction {
        color: $lightBlue;
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 4rem;
        @media only screen and (max-width: 480px) {
            margin-bottom: 2rem;
        }
    }
    
    &__btns button{
        margin-right: 10px;
        @media only screen and (max-width: 480px) {
            margin-right: 5px;
        }
    }
    
    &__change-btn {
        width: 100%;
        margin-top: 20px;
    }
    
    &__input-container {
        width: 50%;
        float: left;
        margin-top: 45px;
        &-title {
            margin: 0;
        }
        @media only screen and (max-width: 897px) {
            width: 100%;
        }
        
        &:last-of-type {
            @media only screen and (max-width: 768px) {
                margin-top: 20px;
            }
        }
    }
    
    &__error-choose-word, &__error-not-found {
        display: none;
    }
    
    .main-div {
        display: none;
    }
    
    .active {
        display: block;
    }
}