#modal-close {
    display: none;
}

.modal{
    &_body {
        background-color: rgba(255,255,255,.9);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        font-size: 1.5rem;
        text-align: center;
        height: 100%;
    }
    
    &__content {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        color: $lightBlue;
    }
    
    &__instruction {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 4rem;
        &-margin-b {
            margin-bottom: 15px;
        }
    }
    
    &__username {
        font-weight: bolder;
        font-size: 4rem;
    }
    
    &__user-image {
        width: 250px;
        margin: auto;
    }
    
    &__start-btn {
        width: 100%;
    }
    
    &__close-btn {
        position: absolute;
        font-size: 3rem;
        font-weight: bolder;
        right: -55px;
        top: -55px;
        transform: translateY(50%);
        z-index: 3;
        cursor: pointer;
        color: $lightBlue;
        &:hover {
            color: $softPink;
        }
    }
    
    &-open {
        overflow: hidden;
    }
}
